body {
    color: aliceblue;
    background-color: rgb(32, 32, 32);
}

.nome {
    color: darkred;
}

.nome {
    
    color: rgb(34, 34, 255);
}

.hobbies {
    color: darkred;
}

h1 {
    text-align: center;
}

